.nav {
  max-width: 60rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav button {
  padding: 1rem;
  font-size: 1.4rem;
  color: blue;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
}

.nav button:hover {
  background-color: blue;
  color: #fff;
}
