.nav {
  max-width: 60rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav button {
  padding: 1rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: #1971c2;
  border: none;
  cursor: pointer;
}

.nav button:hover {
  background-color: #1864ab;
  color: #fff;
}
